body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin-left: 6em;
    margin-right: 6em;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 15%;
}

#header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 32px;
}

li {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#left, #right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 500px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-signup-btn {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: 1px;
    padding: 7px 24px;
}

#hero-image {
    width: 500px;
    height: auto;
}

.information {
    background-color: white;
}

.img_subtext {
    display: flex;
    flex-direction: row;
}

.info-img {
    width: 100px;
    height: auto;
}